extends layout

block content
  .row-fluid
    .span2
      h1 Stickers
    .span3.offset7
      button#addStickerBtn.btn(role="button") 
        i.icon-pencil
        |  New Sticker
 

  #newStickerModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="New Sticker", aria-hidden="true", data-bind="with: newSticker")
    form(method="post", action="/sticker")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h3#myModalLabel New Sticker
      .modal-body
         textarea#newTitle(rows="4", name="title", placeholder="write one sentence story here", required, data-bind="value: title")
      .modal-footer
        button.btn(data-dismiss="modal", aria-hidden="true") Close
        #createStickerBtn.button.btn.btn-primary Create
  #lanes(data-bind="foreach: lanes")
    .lane(data-bind="style:{width: 100/($root.lanes().length + 1) + '%'}, attr:{id: title}", ondragover="allowDrop(event)", ondrop="drop(event)")
      .laneTitle(data-bind="text: title")
      .stickers(data-bind="foreach: stickers")
        .sticker(data-bind="attr:{id: _id}", draggable="true", ondragstart="drag(event)")
          .sticker-id(data-bind="text: _id")
          .sticker-body(data-bind="text: title")

  script(type='text/javascript')
    function allowDrop(ev)
    {
      ev.preventDefault();
    }

    function drag(ev)
    {
      ev.dataTransfer.setData("Text",ev.target.id);
    }

    function drop(ev)
    {
      ev.preventDefault();
      var stickerId=ev.dataTransfer.getData("Text");
      var newStatus = ev.target.id;
      viewModel.changeStatus(stickerId, newStatus);
    }
    $(function(){
      window.viewModel = new stickers.Wall();
      ko.applyBindings(viewModel);
      viewModel.startPull();

      $("#addStickerBtn").click(function(){
        viewModel.resetNewSticker();
        $("#newStickerModal").modal("show");
        $("#createStickerBtn").hide();
      });

      $("#createStickerBtn").live('click', function(){
        viewModel.createSticker();
        $("#newStickerModal").modal("hide");
      });

      $("#newTitle").live('keyup', function(){
        if($("#newTitle").val())
          $("#createStickerBtn").show();
        else
          $("#createStickerBtn").hide();

      });
    });
