extends layout

block content
  .row-fluid
    .span2
      h1 Stickers
    .span3.offset7
      button#newStickerBtn.btn(data-target="#newSticker", role="button", data-toggle="modal") 
        i.icon-pencil
        |  New Sticker
 

  #newSticker.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="New Sticker", aria-hidden="true")
    form(method="post", action="/sticker")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h3#myModalLabel New Sticker
      .modal-body
          textarea(rows="4", name="title", placeholder="write one sentence story here", required)
      .modal-footer
        button.btn(data-dismiss="modal", aria-hidden="true") Close
        button.btn.btn-primary(type="submit") Create

  each sticker in stickers
    .sticker= sticker.title
