#addStickerBtn
  margin-top: 10px

#editingStickerModal
  width: 90%
  left: 0px
  margin-left: 0px

#editingStickerModal .modal-body
  height: 80%

#editingStickerModal .title
  width: 98%
  margin-bottom: 10px

#editingStickerBody
  float: left
  margin: 3px

#previewContainer
  border: 1px solid #eeeeee
  float: left
  min-height: 400px
  padding: 5px

#editingStickerModal .previewing
  width: 48%

#editingStickerModal .solo
  width: 97%

#previewLabel
  float: right
  margin-right: 30px
  margin-top: 3px
  font: 80% 
  color: grey
  font-style: italic

.previewBtn
  float: left
  margin-left: -30px
  margin-top: 3px
  border: none
  background-color: transparent
  cursor: pointer



.sticker
  width: 87%
  min-width: 80px
  max-width: 160px
  height: 60px  
  margin: 5px
  padding: 3px
  background-color: yellow
  border: solid 1px #eeeeee
  float: left
  word-wrap: break-word
  overflow: hidden

.sticker-id
  float: right
  font-size: 70%
  margin-top: -5px

.lane
  border: solid 1px #cccccc
  float: left
  min-width: 90
  margin: 3px
  min-height: 300px
  min-width: 96px


.laneTitle
  text-align: center
  margin: 3px
  
