#addStickerBtn
  margin-top: 10px

#newStickerModal .modal-body
  height: 400px

#newStickerTitle
  width: 98%
  margin-bottom: 10px

#newStickerBody
  width: 98%

.sticker
  width: 87%
  min-width: 80px
  max-width: 160px
  height: 60px  
  margin: 5px
  padding: 3px
  background-color: yellow
  border: solid 1px #eeeeee
  float: left
  word-wrap: break-word
  overflow: hidden

.sticker-id
  float: right
  font-size: 70%
  margin-top: -5px

.lane
  border: solid 1px #cccccc
  float: left
  min-width: 90
  margin: 3px
  min-height: 300px
  min-width: 96px


.laneTitle
  text-align: center
  margin: 3px
  
