#addStickerBtn
  margin-top: 10px

#newStickerModal .modal-body
  height: 150px

#newStickerModal textarea
  width: 90%
  margin-left: 15px

.sticker
  width: 80px
  height: 60px  
  margin: 5px
  padding: 3px
  background-color: yellow
  border: solid 1px #eeeeee
  float: left
  word-wrap: break-word
  overflow: hidden

.lane
  border: solid 1px #cccccc
  float: left
  min-width: 90
  width: 10%
  margin: 3px
  min-height: 300px


.laneTitle
  text-align: center
  margin: 3px
  
